@import "https://fonts.googleapis.com/css?family=Rubik+One";
body, html {

    height: 100%;
    width: 100%;
    background: #e53935;
    background: -webkit-gradient(linear, right top, left top, from(#e53935), to(#e35d5b));
    background: linear-gradient(to left, #e53935, #e35d5b);
}

.buttonVierkant::before, .buttonVierkant::after {
    position: absolute;
    content: '';
    -webkit-transition: all .5s;
    transition: all .5s;
}

.buttonVierkant {
    display: inline-block;
    color: #000000;
    position: relative;
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s;
    background-color: #ffffff;
    border: solid #000000 5px;
    width: 60px;
    height: 60px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}
.buttonVierkant::before {
    bottom: -3px;
    height: 70px;
    width: 5px;
    left: -9px;
    -webkit-transform: skewX(45deg);
    transform: skewY(45deg);
    background-color: grey;
}
.buttonVierkant::after {
    right: -2px;
    height:5px;
    width: 69px;
    bottom: 65px;
    -webkit-transform: skewX(40deg);
    transform: skewY(0deg);
    transform: skewX(45deg);
    background-color: #000000;

}
.buttonVierkant:active {
    margin-left: -5px;
    margin-top: -5px;
}
.buttonVierkant:active::before {
    bottom: -4px;
    width: 2px;
    left: -7px;
}
.buttonVierkant:active::after {
    right: -4px;
    width: 70px;
    bottom: 65px;
    height: 2px;
}

.grid-container {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: 10% 10% 10% 10%;
    grid-gap: 90px;
}