.button2::before, .button2::after {
    position: absolute;
    content: '';
}

.button2 {
    display: inline-block;
    color: #000000;
    position: relative;
    text-decoration: none;
    background-color: #ffffff;
    border: solid #000000 5px;
    width: 500px;
    height: 75px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}
.button2::before {
    bottom: -1px;
    height: 75px;
    width: 7px;
    left: -12px;
    -webkit-transform: skewX(45deg);
    transform: skewY(45deg);
    background-color: #000000;
}
.button2::after {
    right: 0;
    height: 7px;
    width: 500px;
    bottom: 70px;
    -webkit-transform: skewX(30deg);
    background-color: #000000;

}

.percentage {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.spotifybalon {
}

.spotifybalonText {
    visibility: hidden;
    width: 120px;
    background-image: url('infobalon-26.png');
    background-size: 100% 100%;
    display: inline-block;
    height: 150px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.spotifybalon:hover .spotifybalonText {
    visibility: visible;
}

.tooltip {
    text-decoration:none;
    position:relative;
}
.tooltip span {
    display:none;
}
.tooltip:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
}